/* -----
    ヘッダー
    ----- */
@charset "UTF-8";

body {
    max-width: 1280px;
    margin: auto;
    min-height: 100vh;
}

/* ヘッダー要素をflex化 */
.header-wrap {
    display: flex;
    justify-content: right;
    align-items: center;

    max-width: 1280px;
    height: 50px;
    margin: 0 auto 32px;
    background: linear-gradient(90deg, #00d4ff4d 1%, #00d4ff 20%, #090979 70%, #020024);
    box-shadow: 10px 10px 10px -10px #00000080;
}


/* 画面ナビゲーター */
.screen-navigator {
    display: flex;
    justify-content: center;
}

/* -----
    登録ボタン
   -----*/
.regist-button {
    font-size: 15px;
    display: inline-block;
    padding: 5px 30px;
    background-color: #2a8aca;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.regist-button:hover {
    background-color: #2a6aca;
}

/* -----
    メニュー画面ボタン
   -----*/
.return-button {
    font-size: 15px;
    display: inline-block;
    padding: 5px 30px;
    background-color: #646464;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

.return-button:hover {
    background-color: #353434;
}

.btn-area {
    display: flex;
    justify-content: center;
}


/* -----
   メッセージ表示エリア
   -----*/
.message-area {
    height: 30px;
}

.message-area p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.complate-message {
    color: blue;
}

.error-message {
    color: red;
}

.message-area .complate-message,
.message-area .error-message {
    visibility: visible;
    /* 初期状態は表示 */
    animation: fadeOut 3s linear forwards;
    /* 3秒後に非表示にするアニメーション */
}

@keyframes fadeOut {
    to {
        visibility: hidden;
        /* 最終的に非表示にする */
    }
}

/* -----
    入力フォーム
    ----- */
.user-regist-wrap {
    text-align: center;
}

.user-regist-form {
    width: 500px;
    display: inline-grid;
}

.user-regist-form td {
    padding: 5px;
}

.input-area {
    height: 30px;
    width: 200px;
}

/* -----
    バリデーションメッセージ
    -----*/
.validation-message {
    text-align: center;
    color: red;
}