/* 画面ナビゲーター */
.screen-navigator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

body{
    padding-bottom: 50px;
}

/* -----
    新規登録ボタン
   -----*/
.insert-button {
    font-size: 17px;
    display: inline-block;
    padding: 5px 30px;
    background-color: #2a8aca;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.insert-button:hover {
    background-color: #2a6aca;
}

/* -----
    メニュー画面ボタン
   -----*/
.return-button {
    margin-left: 20px;

    display: inline-block;
    padding: 4px 10px;
    background-color: #646464;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.return-button:hover {
    background-color: #353434;
}


/* -----
   メッセージ表示エリア
   -----*/
.message-area {
    height: 30px;
}

.message-area p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.complate-message {
    color: blue;
}

.error-message {
    color: red;
}

.message-area .complate-message,
.message-area .error-message {
    visibility: visible;
    /* 初期状態は表示 */
    animation: fadeOut 3s linear forwards;
    /* 3秒後に非表示にするアニメーション */
}

@keyframes fadeOut {
    to {
        visibility: hidden;
        /* 最終的に非表示にする */
    }
}

/*-----
    ユーザーテーブル
    ----- */
.user-list-table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

.user-list-table th,
.user-list-table td {
    border: 1px solid black;
}

.user-list-table th {
    width: 200px;
    height: 10px;
}

.user-list-table td {
    width: 200px;
    height: 30px;
    padding: 10px;
}

/*-----
    削除ボタン
    -----*/
.delete-submit-button {
    display: inline-block;
    padding: 4px 10px;
    background-color: #bd2a2a;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-submit-button:hover {
    background-color: #f51515;
}