<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
    <link rel="stylesheet" th:href="@{/css/fragments/header-css.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header-title-css.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>

<body>
    <header th:insert="~{fragments/header :: header}"></header>
    <div class="header-title-area" th:insert="~{fragments/header-title(title='メニュー画面')}"></div>

    <!-- メニューカード -->
    <div id="card-wrap">
        <ul>
            <!-- 管理者メニュー -->
            <li sec:authorize="hasAuthority('ADMIN')">
                <a class="card-title" th:href="@{/admin/userlist}">ユーザー管理</a>
                <p>ユーザーの追加/削除を行います。
                </p>
            </li>
            <!-- 一般メニュー -->
            <li sec:authorize="hasAuthority('USER')">
                <a class="card-title" th:href="@{/todos}">ToDo一覧</a>
                <p>ToDoを一覧で表示します。
                </p>
            </li>
        </ul>
    </div>
</body>

</html>