<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ToDoフォーム</title>
	<link rel="stylesheet" th:href="@{/css/fragments/header-css.css}">
	<link rel="stylesheet" th:href="@{/css/fragments/header-title-css.css}">
	<link rel="stylesheet" th:href="@{/css/todo/form.css}">
</head>

<body>
	<!-- ヘッダーのインポート -->
	<header th:insert="~{fragments/header :: header}"></header>
	<div th:if="${toDoForm.isNew}" class="header-title-area" th:insert="~{fragments/header-title(title='新規ToDo登録')}">
	</div>
	<div th:unless="${toDoForm.isNew}" class="header-title-area" th:insert="~{fragments/header-title(title='ToDo編集')}">
	</div>

	<!-- 入力エリア -->
	<form class="todoform-area" th:action="${toDoForm.isNew} ? @{/todos/save} : @{/todos/update}"
		th:object="${toDoForm}" method="post">

		<!-- ボタン：登録/編集・戻る -->
		<div class="screen-navigator">
			<input class="submit-button" th:if="${toDoForm.isNew}" type="submit" value="登録">
			<input class="submit-button" th:unless="${toDoForm.isNew}" type="submit" value="更新">
			<a class="return-button" th:href="@{/todos}">戻る</a>
		</div>

		<!-- idは更新時に必要のため、hiddenで持つ -->
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{status}">
		<table class="input-form-area">
			<tr>
				<th>ToDo</th>
				<td>
					<input type="text" th:field="*{todo}">

				</td>
			</tr>
			<tr>
				<th>詳細</th>
				<td>
					<textarea th:field="*{detail}">
	                </textarea>

				</td>
			</tr>
		</table>

		<!-- エラーメッセージエリア -->
		<p class="notice-message" th:unless="${toDoForm.isNew}">完了ToDoを編集すると未完になります</p>
		<div class="error-message-area">
			<!-- todo用：バリデーションエラー表示 -->
			<div class="todo-error-message" th:if="${#fields.hasErrors('todo')}">
				<span th:errors="*{todo}">エラーがあれば表示</span>
			</div>

			<div class="detail-error-message" th:if="${#fields.hasErrors('detail')}">
				<!-- 詳細用：バリデーションエラー表示 -->
				<span th:errors="*{detail}">エラーがあれば表示</span>
			</div>
		</div>
	</form>

</body>

</html>