<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ToDo一覧</title>
    <link rel="stylesheet" th:href="@{/css/fragments/header-css.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header-title-css.css}">
    <link rel="stylesheet" th:href="@{/css/todo/list.css}">
</head>

<body>
    <!-- ヘッダーのインポート -->
    <header th:insert="~{fragments/header :: header}"></header>
    <div class="header-title-area" th:insert="~{fragments/header-title(title='ToDo一覧')}"></div>

    <!-- 画面遷移メニュー -->
    <div class="screen-navigator">
        <a class="insert-button" th:href="@{/todos/form}">新規登録</a>
        <a class="return-button" th:href="@{/}">メニュー画面へ</a>
    </div>

    <!-- Flashメッセージの表示 -->
    <div class="message-area">
        <p class="complate-message" th:if="${message}" th:text="${message}"></p>
        <p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>
    </div>

    <!-- ToDo：未完の一覧表示 -->
    <div class="todo-list">
        <div class="todo-card" th:each="todo : ${todosUnfinished}">
            <div class="todo-content" th:text="${todo.todo}"></div>
            <div class="todo-actions">
                <form th:action="@{/todos/update/status}" method="post" th:object="${todo}">
                    <input type="hidden" th:value="*{id}" name="id" />
                    <input type="hidden" th:value="*{username}" name="username" />
                    <input type="hidden" th:value="*{status}" name="status" />
                    <input type="hidden" th:value="*{todo}" name="todo" />
                    <input type="hidden" th:value="*{detail}" name="detail" />
                    <input type="hidden" th:value="*{createdAt}" name="createdAt" />
                    <input class="status-true-button" type="submit" value="完了へ">
                </form>
                <a class="status-true-button" th:href="@{/todos/{id}(id=${todo.id})}">詳細</a>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <br>
    <!-- ToDo：未完の一覧表示 -->
    <div class="todo-list-finished">
        <div class="todo-card-finished" th:each="todo : ${todosFinished}">
            <div class="todo-content-finished" th:text="${todo.todo}"></div>
            <div class="todo-actions-finished">
                <form th:action="@{/todos/update/status}" method="post" th:object="${todo}">
                    <input type="hidden" th:value="*{id}" name="id" />
                    <input type="hidden" th:value="*{username}" name="username" />
                    <input type="hidden" th:value="*{status}" name="status" />
                    <input type="hidden" th:value="*{todo}" name="todo" />
                    <input type="hidden" th:value="*{detail}" name="detail" />
                    <input type="hidden" th:value="*{createdAt}" name="createdAt" />
                    <input class="status-false-button" type="submit" value="未完へ">
                </form>
                <a class="status-false-button" th:href="@{/todos/{id}(id=${todo.id})}">詳細</a>
            </div>
        </div>
    </div>

</body>

</html>